{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
{{unit "cdmf.unit.ui.title" pageTitle="Device"}}
{{! unit "cdmf.unit.ui.content.title" pageHeader="Device Download"}}

{{unit "cdmf.unit.data-tables-extended"}}
{{unit "cdmf.unit.lib.handlebars"}}
{{unit "cdmf.unit.lib.service-invoker-utility"}}

{{#zone "breadcrumbs"}}

    <li>
        <a href="{{@app.context}}/devices">
                    <img src="/devicemgt/public/cdmf.page.assets/img/default/Icon_Back.png" style="vertical-align: inherit;margin-right: 5px;"/>
                Cancel
        </a>
    </li>

{{/zone}}

{{#zone "content"}}

<h1>Distribute</h1>
<div class="stepsDiv">
    <div class="stepNavBar">
        <div class="addDevice">Add Device</div>
    </div>
    <div class="stepContent">
        <div >
            <span>01<span><br>
            <span class="setpPrag active">Select a Platform</span>
        </div>
        <div class="dividerPadding"> <img src="/devicemgt/public/cdmf.page.assets/img/Sidebar_Divider.png" style="vertical-align: inherit;margin-right: 5px;"/></div>
        <div>
            <span>02</span><br>
            <span class="current setpPrag">Distribute</span>
        </div>
    </div>
</div>
    <div class="wr-device-list">
        <div class="wr-hidden-operations wr-advance-operations"></div>
        <div class=" backgroundWhiteDiv col-md-12 wr-page-content" >
            <div class="submenu detail_sub_headings">
                <ul>
                    <li><a class="active" href="{{@app.context}}/devices">Devices</a></li>    
                    <li><a href="{{@app.context}}/groups">Device Groups</a></li>
                </ul>   
            </div>  
            <div>
                {{! dynamically resolves device type-view unit according to deviceType URI param }}
                {{unit deviceTypeViewUnitName}}
            </div>
        </div>
    </div>
{{/zone}}