{{unit "cdmf.unit.ui.title" pageTitle="Group Management"}}
{{unit "cdmf.unit.ui.modal"}}

{{#zone "breadcrumbs"}}
  
    <li>
        <a href="{{@app.context}}/groups">
            <img src="/devicemgt/public/cdmf.page.assets/img/default/Icon_Back.png" style="vertical-align: inherit;margin-right: 5px;"/>
                Cancel
        </a>
    </li>

{{/zone}}

{{#zone "content"}}
<style>
.submenu ul{
    padding-left: 285px!important;
}

</style>
{{css "css/create.css"}}
    <div class="submenu detail_sub_headings">
        <ul>
            <li><a href="{{@app.context}}/devices">Devices</a></li>    
            <li><a class="active" href="{{@app.context}}/groups">Device Groups</a></li>
        </ul>   
    </div>

    <div class="stepsDiv">
        <div class="stepNavBar">
            <div class="addDevice">Add Device Group</div>
        </div>
        <div class="stepContent">
            <div class="">
                <span>01</span>
                <span class="current setpPrag">Settings</span>
            </div>
        </div>
    </div>

     <h1>Add New Group</h1>
    <div class="row no-gutter detail_box">
        <div class=" wr-content wr-login sign-panel" id="group-create-form">
           
            <!-- validation -->
            <span class="wr-validation-summary hidden center-block col-centered">
		    <strong class="label label-danger col-centered"></strong>
		</span>
            <div class="form-login-box" >
                <div class="form_field">
                <label class="wr-input-label">Group Name</label>

                <div class="form-group wr-input-control">
                    <input type="text right" id="name" placeholder="Group Name" data-regex="{{groupNameJSRegEx}}"
                           data-errormsg="{{groupNameRegExViolationErrorMsg}}" class="form-control">
                    <span class="groupNameError hidden glyphicon glyphicon-remove form-control-feedback"></span>
                    <label class="error groupNameEmpty hidden" for="summary"></label>
                </div>
                </div>
                <div class="form_field">
                <label class="wr-input-label">Description</label>

                <div class="form-group wr-input-control">
                    <input type="text right" id="description" placeholder="Description" class="form-control">
                </div>
                </div>
                <hr>
                <br>
               
                    <button class="wr-btn" id="add-group-btn" style="float:right">
                       Done
                    </button>
                           </div>
        </div>

        <div id="group-created-msg" class="wr-content hidden">
            <div class="wr-form">
                <p class="page-sub-title">Group was created successfully.</p>

                <br>Please click <b>"Add Another Group"</b>, if you wish to add another group or click
                <b>"View Group List"</b> to complete the process and go back to the group list.
                <hr/>
                <br>
                <button class="wr-btn" onclick="window.location.href='{{@app.context}}/groups'">View Group List
                </button>
                <a href="{{@app.context}}/group/add" class="cu-btn-inner ops_icon">
                <img class="operation_icon icon_active"src="/devicemgt/public/cdmf.page.assets/img/default/Icon_Add.png" style="vertical-align:inherit;margin-rigth:5px;">
            <img class="operation_icon" src="/devicemgt/public/cdmf.page.assets/img/hover/Icon_Add_Hover.png" style="vertical-align:inherit;margin-rigth:5px;">
                    Add Another Group
                </a>
            </div>
        </div>

    </div>
{{/zone}}
{{#zone "bottomJs"}}
    {{js "js/group-add.js"}}
{{/zone}}
