{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
{{unit "cdmf.unit.ui.title" pageTitle="User Management | Edit User"}}

{{#zone "breadcrumbs"}}
{{css "css/edit.css"}}
    <li>
        <a href="{{@app.context}}/users">
           <img src="/devicemgt/public/cdmf.page.assets/img/default/Icon_Back.png" style="vertical-align: inherit;margin-right: 5px;"/>
            Cancel
        </a>
    </li>
{{/zone}}

{{#zone "content"}}
    {{#if canManage}}
    <h1>Edit User</h1>    
    <div class="submenu detail_sub_headings">
                <ul>
                    <li><a class="active" href="{{@app.context}}/users">Users</a></li>    
                     <li><a href="{{@app.context}}/roles">Roles</a></li>
                </ul>   
    </div> 
    <div id="loading-content" class="col-centered">
            <i class="fw fw-settings fw-spin fw-2x"></i>
            Loading . . .
            <br>
        </div>
        {{!--<div id="loading-content" class="col-centered">
            <i class="fw fw-settings fw-spin fw-2x"></i>
            Loading. . .
            <br>
        </div>--}}
     <div class="stepsDiv">
        <div class="stepNavBar">
            <div class="addDevice">Edit User</div>
        </div>
        <div class="stepContent">
            <div class="">
                 <span> 01 </span>
                 <br>
                 <span class="current setpPrag"> Settings
            </span>
            </div>
        </div>
    </div>
        <!-- content/body -->
        <div class="row">         
                <!-- content -->
                <div id="user-create-form" class="wr-content">
                    <div class="wr-form">
                        <div class="row no-gutter detail_box">
                            <div class="">
                                <div id="user-create-error-msg" class="alert alert-danger hidden" role="alert">
                                    <i class="icon fw fw-error"></i><span></span>
                                </div>
                                {{!--<label class="wr-input-label"
                                       title="Select the domain of the user store from the drop-down given below. The domain of the default user store is PRIMARY">
                                    User Store Domain
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </label>
                                <div class="wr-input-control">
                                    <select id="userStore" class="form-control select" disabled>
                                        <option value="{{userStore}}" selected>{{userStore}}</option>
                                    </select>
                                </div>--}}
                                <div class="form_field">
                                <label class="wr-input-label">
                                    User Name <br>
                                </label>
                                <div class="wr-input-control">
                                    <input type="text" id="username" data-regex="{{usernameJSRegEx}}"
                                           data-errormsg="{{usernameRegExViolationErrorMsg}}" class="form-control"
                                           value="{{editUser.username}}" disabled/>
                                </div>
                                </div>
                                <div class="form_field">
                                <label class="wr-input-label">First Name <span style="color:#00aeef">*</span></label>
                                <div id="firstNameField" class="form-group wr-input-control">
                                    <input type="text" id="firstname" data-regex="{{firstnameJSRegEx}}"
                                           data-errormsg="{{firstnameRegExViolationErrorMsg}}" class="form-control"
                                           value="{{editUser.firstname}}"/>
                                    <span class="glyphicon glyphicon-remove form-control-feedback hidden fnError"></span>
                                    <label class=" hidden error fnError" for="summary">This field is required.</label>
                                </div>
                                </div>
                                <div class="form_field">
                                <label class="wr-input-label">Last Name <span style="color:#00aeef">*</span></label>
                                <div id="lastNameField" class="form-group wr-input-control">
                                    <input type="text" id="lastname" data-regex="{{lastnameJSRegEx}}"
                                           data-errormsg="{{lastnameRegExViolationErrorMsg}}" class="form-control"
                                           value="{{editUser.lastname}}"/>
                                    <span class="glyphicon glyphicon-remove form-control-feedback hidden lnError"></span>
                                    <label class=" hidden error lnError" for="summary">This field is required.</label>
                                </div>
                                </div>
                                <div class="form_field">
                                <label class="wr-input-label">
                                    Email Address <span style="color:#00aeef">*</span>
                                </label>
                                <div id="emailField" class=" form-group wr-input-control">
                                    <input type="email" id="emailAddress" class="form-control"
                                           value="{{editUser.emailAddress}}"/>
                                    <span class="glyphicon glyphicon-remove form-control-feedback hidden emailError"></span>
                                    <label class=" hidden error email-required" for="summary">This field is
                                        required.</label>
                                    <label class=" hidden error email-invalid" for="summary">Invalid Email
                                        Address.</label>
                                </div>
                                </div>
                                {{#if canViewRoles}}
                                <div class="form_field">
                                    <label class="wr-input-label"
                                           title="Optional field that can have 0-to-many roles for the user">
                                        User Roles
                                        <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                    </label>
                                    <div class="wr-input-control">
                                        <select id="roles" class="form-control select2" multiple="multiple"
                                                selectedVals="{{#each rolesByUsername}} {{this}}, {{/each}}">
                                            {{#each rolesByUserStore}}
                                                <option>{{this}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                {{/if}}
                                </div>
                                <br>
                                <button id="add-user-btn" class="wr-btn" style="float:right;" >Save User</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div id="user-created-msg" class="wr-content hidden">
                    <div class="wr-form detail_box">
                        <p class="page-sub-title" style="padding-top:0px;">User was updated successfully.</p>

                        <br>Please click <b>"View Updated User"</b>, if you wish to view the updated user or click
                        <b>"View User List"</b> to complete the process and go back to the user list.
                        <hr/>
                        <br>
                        <button class="wr-btn" onclick="window.location.href='{{@app.context}}/users'" style="vertical-align: top;">View User List
                        </button>
                        <a href="{{@app.context}}/user/view?username={{editUser.username}}" class="cu-btn-inner">
                        <span class="fw-stack">
                            <i class="fw fw-circle-outline fw-stack-2x"></i>
                            <i class="fw fw-view fw-stack-1x"></i>
                        </span>
                            View Updated User
                        </a>
                    </div>
                </div>
                <!-- /content -->
          
        </div>
        <!-- /content/body -->
    {{else}}
        <h1 class="page-sub-title">
            Permission Denied
        </h1>
        <br>
        You not authorized to enter User Management Section.
        <br>
    {{/if}}

{{/zone}}

{{#zone "bottomJs"}}
    {{js "js/bottomJs.js"}}
     
{{/zone}}
