{{unit "cdmf.unit.ui.title" pageTitle="Policy Management"}}

{{unit "cdmf.unit.data-tables-extended"}}

{{#zone "breadcrumbs"}}
    <li>
        <a href="{{@app.context}}/">
            <i class="icon fw fw-home"></i>
        </a>
    </li>
    <li>
        <a href="{{@app.context}}/policies">
            Policies
        </a>
    </li>
{{/zone}}

{{#zone "navbarActions"}}
    <li>
        <a href="{{@app.context}}/policy/add" class="cu-btn">
            <span class="icon fw-stack">
                <i class="fw fw-add fw-stack-1x"></i>
                <i class="fw fw-ring fw-stack-2x"></i>
            </span>
            Add Policy
        </a>
    </li>
    <li>
        <a href="{{@app.context}}/policy/priority" class="cu-btn">
            <span class="icon fw-stack">
                <i class="fw fw-throttling-policy fw-stack-1x"></i>
                <i class="fw fw-ring fw-stack-2x"></i>
            </span>
            Policy Priority
        </a>
    </li>
    <li>
        <a href="#" class="cu-btn" id="appbar-btn-apply-changes">
            <span class="icon fw-stack">
                <i class="fw fw-check fw-stack-1x"></i>
                <i class="fw fw-ring fw-stack-2x"></i>
            </span>
            Apply Changes To Devices
        </a>
    </li>
{{/zone}}

{{#zone "content"}}
    {{unit "cdmf.unit.policy.listing"}}
{{/zone}}