<div class="container col-md-12 col-lg-3 col-centered wr-content wr-login col-centered">

    <p class="page-sub-title">Login</p>
    <hr />
    {{#if message}}
        <div class="alert alert-danger" style="padding-right: 15px;">
            <i class="icon fw fw-warning"></i> {{message}}!
        </div>
    {{/if}}

    <div class="panel-body">
        <form id="signInForm" method="POST" action="{{@app.context}}/uuf/login">
            <div class="wr-input-control">
                <label class="wr-input-label">Username *</label>
                <input type="text" name="username" class="form-control" placeholder="Enter your username"
                       autofocus="autofocus" required="required" />
            </div>
            <div class="wr-input-control">
                <label class="wr-input-label">Password *</label>
                <input type="password" name="password" class="form-control" placeholder="Enter your password"
                       required="required" />
            </div>
            {{#if referer}}
                <input type="hidden" name="referer" value="{{referer}}" />
            {{/if}}
            <div class="wr-input-control wr-btn-grp">
                <button class="wr-btn btn-download-agent">
                    Login
                </button>
                {{defineZone "signInForm-below" scope="protected"}}
            </div>
        </form>
    </div>
</div>
{{~#zone "bottomLoginJs"}}
    {{~js "js/login.js"}}
{{/zone}}