{{unit "cdmf.unit.ui.title" pageTitle="Policy Management"}}
{{unit "cdmf.unit.ui.content.title" pageHeader="Policy List"}}

{{unit "cdmf.unit.lib.data-table"}}

{{#zone "breadcrumbs"}}
    <li>
        <a href="{{@app.context}}/">
            <i class="icon fw fw-home"></i>
        </a>
    </li>
    <li>
        <a href="{{@app.context}}/policies">
            Policies
        </a>
    </li>
{{/zone}}

{{#zone "navbarActions"}}
    <li>
        <a href="{{@app.context}}/policy/add" class="cu-btn">
            <span class="icon fw-stack">
                <i class="fw fw-add fw-stack-1x"></i>
                <i class="fw fw-ring fw-stack-2x"></i>
            </span>
            Add Policy
        </a>
    </li>
{{/zone}}

{{#zone "content"}}
    {{unit "cdmf.unit.policy.listing"}}
{{/zone}}