{{unit "cdmf.unit.ui.title" pageTitle="User Management"}}

{{#zone "breadcrumbs"}}
    <li>
        <a href="{{@app.context}}/">
            <i class="icon fw fw-home"></i>
        </a>
    </li>
    <li>
        <a href="{{@app.context}}/users">
            Users
        </a>
    </li>
    <li>
        <a href="{{@app.context}}/user/add">
            Add
        </a>
    </li>
{{/zone}}

{{#zone "content"}}
    {{unit "cdmf.unit.user.create"}}
{{/zone}}
