{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
{{unit "cdmf.unit.ui.title" pageTitle="User Management | Add User"}}

{{#zone "breadcrumbs"}}
{{css "css/create.css"}}
    
    <li>
        <a href="{{@app.context}}/users">
           <img src="/devicemgt/public/cdmf.page.assets/img/default/Icon_Back.png" style="vertical-align: inherit;margin-right: 5px;"/>
            Cancel
        </a>
    </li>
   
{{/zone}}

{{#zone "content"}}
    {{#if canManage}}
        <!-- content/body -->
     <h1>Add User</h1>    
    <div class="submenu detail_sub_headings">
                <ul>
                    <li><a class="active" href="{{@app.context}}/users">Users</a></li>    
                     <li><a href="{{@app.context}}/roles">Roles</a></li>
                </ul>   
    </div> 
        <div id="loading-content" class="col-centered">
            <i class="fw fw-settings fw-spin fw-2x"></i>
            Loading. . .
            <br>
        </div>

    
    <div class="stepsDiv">
        <div class="stepNavBar">
            <div class="addDevice">Add User</div>
        </div>
        <div class="stepContent">
            <div class="">
                 <span> 01 </span>
                 <br>
                 <span class="current setpPrag"> Settings
            </span>
            </div>
        </div>
    </div>
        <div class="row">
           
                <!-- content -->
                <div id="user-create-form" class=" wr-content">
                    <div class="wr-form">
                        <div class="row no-gutter detail_box">
                            <div class="">
                                <div id="user-create-error-msg" class="alert alert-danger hidden" role="alert">
                                    <i class="icon fw fw-error"></i><span></span>
                                </div>
                                {{!--<label class="wr-input-label"
                                       title="Select the domain of the user store from the drop-down given below. The domain of the default user store is PRIMARY">
                                    User Store Domain
                                    <span class="wr-help-tip glyphicon glyphicon-question-sign"></span>
                                </label>
                                <div class="wr-input-control">
                                    <select id="userStore" class="form-control select">
                                        <option value="PRIMARY">PRIMARY</option>
                                        {{#each userStores}}
                                            <option value="{{this}}">{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>--}}
                                <div class="form_field">
                                <label class="wr-input-label" title="{{usernameHelpMsg}}">
                                    User Name <span style="color:#00aeef">*</span>
                                    {{!--<span class="wr-help-tip glyphicon glyphicon-question-sign"></span>--}}
                                </label>
                                <div id="usernameInputField" class="form-group wr-input-control">
                                    <input limit="{{charLimit}}" type="text" id="username"
                                           data-regex="{{usernameJSRegEx}}"
                                           data-errormsg="{{usernameRegExViolationErrorMsg}}" class="form-control"/>
                                    <span class=" usernameError hidden glyphicon glyphicon-remove form-control-feedback"></span>
                                    <label class="error usernameEmpty hidden" for="summary">This field is required.
                                        Username should be at least 3 characters long with no white spaces.</label>
                                </div>
                                </div>
                                <div class="form_field">
                                <label class="wr-input-label">First Name <span style="color:#00aeef">*</span></label>
                                <div id="firstNameField" class="form-group wr-input-control">
                                    <input type="text" id="firstname" data-regex="{{firstnameJSRegEx}}"
                                           data-errormsg="{{firstnameRegExViolationErrorMsg}}" class="form-control"/>
                                    <span class="glyphicon glyphicon-remove form-control-feedback hidden fnError"></span>
                                    <label class=" hidden error fnError" for="summary">This field is required.</label>
                                </div>
                                </div>
                                <div class="form_field">
                                <label class="wr-input-label">Last Name <span style="color:#00aeef">*</span></label>
                                <div id="lastNameField" class="form-group wr-input-control">
                                    <input type="text" id="lastname" data-regex="{{lastnameJSRegEx}}"
                                           data-errormsg="{{lastnameRegExViolationErrorMsg}}" class="form-control"/>
                                    <span class="glyphicon glyphicon-remove form-control-feedback hidden lnError"></span>
                                    <label class=" hidden error lnError" for="summary">This field is required.</label>
                                </div>
                                </div>
                                <div class="form_field">
                                <label class="wr-input-label" title="Ex: dan@abc.com">
                                    Email Address <span style="color:#00aeef">*</span>
                                    {{!--<span class="wr-help-tip glyphicon glyphicon-question-sign"></span>--}}
                                </label>
                                <div id="emailField" class=" form-group wr-input-control">
                                    <input type="email" id="emailAddress" class="form-control"/>
                                    <span class="glyphicon glyphicon-remove form-control-feedback hidden emailError"></span>
                                    <label class=" hidden error email-required" for="summary">This field is
                                        required.</label>
                                    <label class=" hidden error email-invalid" for="summary">Invalid Email
                                        Address.</label>
                                </div>
                                </div>
                                {{#if canViewRoles}}
                                <div class="form_field">
                                    <label class="wr-input-label"
                                           title="Optional field that can have 0-to-many roles for the user">
                                        User Roles
                                        {{!--<span class="wr-help-tip glyphicon glyphicon-question-sign"></span>--}}
                                    </label>
                                    <div class="wr-input-control" >
                                        <select id="roles" class="form-control select2" multiple="multiple">
                                            {{#each roles}}
                                                <option>{{this}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                {{/if}}
                                   <br>
                                <hr>
                                 <br>
                                <button id="add-user-btn" class="wr-btn" style="float:right">Done</button>
                            </div>

                        </div>
                       
                    </div>
                </div>
                <div id="user-created-msg" class="wr-content hidden">
                    <div class="wr-form">
                        <div class="row no-gutter detail_box">
                        <p class="page-sub-title">User was added successfully.</p>
                        <p>
                            An invitation mail will be sent to this user to initiate device enrollment.
                        </p>

                        <br>Please click <b>"Add Another User"</b>, if you wish to add another user or click
                        <b>"View User List"</b> to complete the process and go back to the user list.
                        <hr/>
                        <br>
                        <button class="wr-btn" onclick="window.location.href='{{@app.context}}/users'">View User List
                        </button>
                        <a href="{{@app.context}}/user/add" class="cu-btn-inner">
                        <span class="fw-stack">
                            <i class="fw fw-circle-outline fw-stack-2x"></i>
                            <i class="fw fw-add fw-stack-1x"></i>
                        </span>
                            Add Another User
                        </a>
                    </div>
                    </div>
                </div>
                <!-- /content -->
            
        </div>
    {{else}}
        <h1 class="page-sub-title">
            Permission Denied
        </h1>
        <br>
        You not authorized to enter User Management Section.
        <br>
    {{/if}}
{{/zone}}

{{#zone "bottomJs"}}
    {{js "js/bottomJs.js"}}
{{/zone}}
