{{#zone "contentTitle"}}
    <div class="row wr-device-board">
        <div class="col-lg-12 wr-secondary-bar">
            <label class="device-id device-select"
                   data-deviceid="{{device.deviceIdentifier}}" data-type="{{device.type}}"
                   data-appcontext="{{@app.context}}">
                Device {{device.name}}
                {{#if device.viewModel.vendor}}
                    <span class="lbl-device">
                                    ( {{device.viewModel.vendor}} {{device.viewModel.model}} )
                                </span>
                {{/if}}
            </label>
        </div>
    </div>
{{/zone}}

<div class="row no-gutter add-padding-5x add-margin-top-5x"
     style="border: 1px solid #e4e4e4;">
    <div class="media">
        <div id="device_overview">
            <div class="media-left media-middle asset-image col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail icon">
                    {{#defineZone "device-thumbnail"}}
                        <i class="square-element text fw fw-mobile"></i>
                    {{/defineZone}}
                </div>
            </div>
            <div class="media-body asset-desc add-padding-left-5x">
                <div style="background: #11375B; color: #fff; padding: 10px; margin-bottom: 5px">
                    Device Overview - {{label}}</div>
                {{unit "cdmf.unit.device.overview-section" device=device}}
                {{#defineZone "operation-status"}}{{/defineZone}}
                {{#defineZone "device-opetations"}}
                    <div style="background: #11375B; color: #fff; padding: 10px; margin-bottom: 5px">
                        Operations
                    </div>
                    <div class="add-margin-top-4x" style="height: 90px;">
                        {{unit "cdmf.unit.device.operation-bar" device=device}}
                    </div>
                {{/defineZone}}
            </div>
        </div>
    </div>

    {{#defineZone "device-detail-properties"}}
        <div class="media">
            <div class="media-left col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <ul class="list-group" role="tablist">
                    <li class="active"><a class="list-group-item"
                                          href="#device_details"
                                          role="tab" data-toggle="tab"
                                          aria-controls="device_details">Device
                                                                         Details</a>
                    </li>
                    <li><a class="list-group-item" href="#policies"
                           role="tab"
                           data-toggle="tab" aria-controls="policies">Policies</a>
                    </li>
                    <li><a class="list-group-item" href="#policy_compliance"
                           role="tab"
                           data-toggle="tab" aria-controls="policy_compliance">Policy
                                                                               Compliance</a>
                    </li>
                    <li><a class="list-group-item" href="#device_location"
                           role="tab"
                           data-toggle="tab" aria-controls="device_location">Device
                                                                             Location</a>
                    </li>
                    <li><a class="list-group-item" href="#event_log" role="tab"
                           data-toggle="tab" aria-controls="event_log">Operations
                                                                       Log</a></li>
                </ul>
            </div>
            <div class="media-body add-padding-left-5x remove-padding-xs tab-content">
                <div class="panel-group tab-content">

                    <div class="panel panel-default tab-pane active"
                         id="device_details" role="tabpanel"
                         aria-labelledby="device_details">
                        {{unit "cdmf.unit.device.details" device=device}}
                    </div>
                    <div class="panel panel-default tab-pane" id="policies" role="tabpanel"
                         aria-labelledby="policies">
                        <div class="panel-heading">Policies</div>
                        <div class="panel-body">
                            <div id="policy-spinner" class="wr-advance-operations-init hidden">
                                <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fw fw-settings fw-spin fw-2x"></i>
                                &nbsp;&nbsp;&nbsp;
                                Loading Policies . . .
                                <br>
                                <br>
                            </div>
                            <div id="policy-list-container">
                                <div class="panel-body">
                                    No policies found
                                </div>
                                <br class="c-both"/>
                            </div>
                        </div>
                        <a class="padding-left"
                           href="{{@app.context}}/policy/add/{{device.type}}?deviceId={{device.deviceIdentifier}}">
                                        <span class="fw-stack">
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                            <i class="fw fw-policy fw-stack-1x"></i>
                                        </span> Add device specific policy</a>
                    </div>

                    <div class="panel panel-default tab-pane" id="policy_compliance"
                         role="tabpanel" aria-labelledby="policy_compliance">
                        <div class="panel-heading">Policy Compliance <span><a
                                href="#" id="refresh-policy"><i
                                class="fw fw-refresh"></i></a></span></div>
                        <div class="panel-body">
                            <div id="policy-spinner"
                                 class="wr-advance-operations-init hidden">
                                <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fw fw-settings fw-spin fw-2x"></i>
                                &nbsp;&nbsp;&nbsp;
                                Loading Policy Compliance . . .
                                <br>
                                <br>
                            </div>
                            <div id="policy-list-container">
                                <div class="panel-body">
                                    Not available yet
                                </div>
                                <br class="c-both"/>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default tab-pane" id="device_location"
                         role="tabpanel" aria-labelledby="device_location">
                        <div class="panel-heading">Device Location</div>
                        <div class="panel-body">
                            <div id="device-location"
                                 data-lat="{{device.viewModel.location.latitude}}"
                                 data-long="{{device.viewModel.location.longitude}}"
                                 style="height:450px" class="panel-body">
                            </div>
                            <div id="map-error" class="panel-body">
                                Not available yet
                            </div>
                            <br class="c-both"/>
                        </div>
                    </div>
                    <div class="panel panel-default tab-pane" id="event_log"
                         role="tabpanel" aria-labelledby="event_log">
                        <div class="panel-heading">Operations Log <span><a href="#"
                                                                           id="refresh-operations"><i
                                class="fw fw-refresh"></i></a></span></div>
                        <div class="panel-body">
                            <div id="operations-spinner"
                                 class="wr-advance-operations-init hidden">
                                <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fw fw-settings fw-spin fw-2x"></i>
                                &nbsp;&nbsp;&nbsp;
                                Loading Operations Log . . .
                                <br>
                                <br>
                            </div>
                            <div id="operations-log-container">
                                <div class="panel-body">
                                    Not available yet
                                </div>
                                <br class="c-both"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/defineZone}}
</div>

{{#zone "bottomJs"}}
    {{js "js/device-view.js"}}
    <script id="policy-view" src="{{@unit.publicUri}}/templates/policy-compliance.hbs"
            data-device-id="{{device.deviceIdentifier}}" data-device-type="{{device.type}}"
            type="text/x-handlebars-template"></script>
    <script id="policy-list" src="{{@unit.publicUri}}/templates/policy-list.hbs"
            data-device-id="{{device.deviceIdentifier}}" data-device-type="{{device.type}}"
            type="text/x-handlebars-template"></script>
    <script id="applications-list" src="{{@unit.publicUri}}/templates/applications-list.hbs"
            data-device-id="{{device.deviceIdentifier}}" data-device-type="{{device.type}}"
            type="text/x-handlebars-template"></script>
    <script id="operations-log" src="{{@unit.publicUri}}/templates/operations-log.hbs"
            data-device-id="{{device.deviceIdentifier}}" data-device-type="{{device.type}}"
            type="text/x-handlebars-template"></script>
{{/zone}}