<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h2 class="sub-title panel-title">
            <a data-toggle="collapse"
               href="#collapseOne" aria-expanded="true"
               aria-controls="collapseOne">
                                        <span class="fw-stack">
                                        <i class="fw fw-ring fw-stack-2x"></i>
                                        <i class="fw fw-arrow fw-down fw-stack-1x"></i>
                                        </span>
                Device Operations
            </a>
        </h2>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in"
         role="tabpanel" aria-labelledby="headingOne">
        <div id="device-location" class="panel-body">
            {{#if control_operations}}
                {{#each control_operations}}
                    <form action="{{@app.context}}/apis/operations/{{../deviceType}}/{{operation}}?deviceId={{../deviceId}}" method="post">
                        <div class="row">
                            <div class="wr-input-control">
                                <label class="wr-input-label">{{name}}</label>
                                <input type="number" name="value"
                                       placeholder="{{description}}">
                                <button class="wr-btn">&nbsp;&nbsp;&nbsp;&nbsp;Send
                                    to Device&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                <label id="lblSending" class="wr-input-label hidden"><i class="fw fw-lifecycle fw-spin fw-2x"></i> Sending..</label>
                                <label id="lblSent" class="wr-input-label hidden"><i class="fw fw-check fw-2x"></i> Sent</label>
                                <label id="lblLastState" class="wr-input-label wr-input-label-status"></label>
                            </div>
                        </div>
                    </form>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>