<li {{#if @unit.params.id}}id="{{@unit.params.id}}" {{/if~}}
        class="message message-{{@unit.params.type}}">
    <h4><i class="icon fw fw-{{icon}}"></i> {{@unit.params.title}}</h4>
    <p>{{{@unit.params.message}}}</p>
</li>