{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
{{unit "cdmf.unit.ui.title" pageTitle="Group Management"}}
{{unit "cdmf.unit.ui.content.title" pageHeader="Groups"}}

{{unit "cdmf.unit.lib.data-table"}}

{{#zone "breadcrumbs"}}
    <li>
        <a href="{{@app.context}}/">
            <i class="icon fw fw-home"></i>
        </a>
    </li>
    <li>
        <a href="{{@app.context}}/groups">
            Groups
        </a>
    </li>
{{/zone}}

{{#zone "navbarActions"}}
    {{#if permissions.ADD_GROUP}}
        <li>
            <a href="{{@app.context}}/group/add" class="cu-btn">
            <span class="icon fw-stack">
                <i class="fw fw-add fw-stack-1x"></i>
                <i class="fw fw-ring fw-stack-2x"></i>
            </span>
                Add Group
            </a>
        </li>
    {{/if}}
{{/zone}}

{{#zone "content"}}
    <div class="wr-device-list row">
        <div class="wr-hidden-operations wr-advance-operations"></div>
        <div class="col-md-12 wr-page-content">
            <div>
                <span id="permission" data-permission="{{permissions.list}}"></span>
                {{#if groupCount}}
                    <div class="container-fluid" id="group-listing" data-current-user="{{currentUser.username}}">
                        <table class="table table-striped table-hover list-table display responsive nowrap data-table table-selectable grid-view"
                               id="group-grid">
                            <thead>
                            <tr class="sort-row">
                                <th class="no-sort"></th>
                                <th class="no-sort"></th>
                                <th>By Owner</th>
                                <th class="no-sort"></th>
                            </tr>
                            <tr class="filter-row filter-box">
                                <th></th>
                                <th></th>
                                <th data-for="By Owner" class="text-filter"></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="ast-container"></tbody>
                        </table>
                    </div>
                {{else}}
                    <div id="ast-container" class="ast-container list-view">
                        <div class="ctrl-info-panel col-centered text-center wr-login">
                            <h2>You don't have any group registered at the moment.</h2>
                            <br/>
                            {{#if permissions.ADD_GROUP}}
                                <p class="text-center">
                                    <a href="{{@app.context}}/group/add" class="wr-btn">
                                        <span class="fw-stack">
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                            <i class="fw fw-add fw-stack-1x"></i>
                                        </span>
                                        Add New Group
                                    </a>
                                </p>
                            {{/if}}
                        </div>
                    </div>
                {{/if}}

                <div id="share-group-w1-modal-content" class="hide">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-centered">
                                <h3>Enter user name to manage group sharing</h3>
                                <div id="user-names">
                                    <br />
                                    <input type="text" id="share-user-selector" style="color:#3f3f3f;padding:5px;width:250px;">
                                    </input>
                                </div>
                                <div class="buttons">
                                    <a href="#" id="share-group-next-link" class="btn-operations">
                                        &nbsp;&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;&nbsp;
                                    </a>
                                    &nbsp;&nbsp;
                                    <a href="#" id="share-group-w1-cancel-link" class="btn-operations">
                                        &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="share-group-w2-modal-content" class="hide">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-centered">
                                <h3>Select sharing roles</h3>
                                <br/>
                                <div id="user-roles">Loading...</div>
                                <div class="buttons">
                                    <a href="#" id="share-group-yes-link" class="btn-operations">
                                        &nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;
                                    </a>
                                    &nbsp;&nbsp;
                                    <a href="#" id="share-group-w2-cancel-link" class="btn-operations">
                                        &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="share-group-200-content" class="hide">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-centered">
                                <h3>Group sharing updated successfully.</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="remove-group-modal-content" class="hide">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-centered">
                                <h3>Do you really want to remove this group from your Group List?</h3>

                                <div class="buttons">
                                    <a href="#" id="remove-group-yes-link" class="btn-operations">
                                        &nbsp;&nbsp;&nbsp;&nbsp;Yes&nbsp;&nbsp;&nbsp;&nbsp;
                                    </a>
                                    &nbsp;&nbsp;
                                    <a href="#" id="remove-group-cancel-link" class="btn-operations">
                                        &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="remove-group-200-content" class="hide">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-centered">
                                <h3>Group was successfully removed.</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="edit-group-modal-content" class="hide">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-centered">
                                <h3>Please enter new name and description for the group</h3>
                                <br/>

                                <div>
                                    <input id="edit-group-name" style="color:#3f3f3f;padding:5px" type="text"
                                           value=""
                                           placeholder="Group Name" size="60">
                                </div>
                                <br/>

                                <div>
                                    <input id="edit-group-description" style="color:#3f3f3f;padding:5px" type="text"
                                           value=""
                                           placeholder="Group Description" size="60">
                                </div>
                                <div class="buttons">
                                    <a href="#" id="edit-group-yes-link" class="btn-operations">
                                        &nbsp;&nbsp;&nbsp;&nbsp;Update&nbsp;&nbsp;&nbsp;&nbsp;
                                    </a>
                                    &nbsp;&nbsp;
                                    <a href="#" id="edit-group-cancel-link" class="btn-operations">
                                        &nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;&nbsp;&nbsp;&nbsp;
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="edit-group-200-content" class="hide">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-centered">
                                <h3>Group was successfully updated.</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="group-400-content" class="hide">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-centered">
                                <h3>Exception at backend. Try Later.</h3>

                                <div class="buttons">
                                    <a href="#" id="group-400-link" class="btn-operations">
                                        &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="group-403-content" class="hide">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-centered">
                                <h3>Operation not permitted.</h3>

                                <div class="buttons">
                                    <a href="#" id="group-403-link" class="btn-operations">
                                        &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="group-404-content" class="hide">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-centered">
                                <h3 id="group-404-message">Not found.</h3>

                                <div class="buttons">
                                    <a href="#" id="group-404-link" class="btn-operations">
                                        &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="group-409-content" class="hide">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-centered">
                                <h3>Group does not exist.</h3>

                                <div class="buttons">
                                    <a href="#" id="group-409-link" class="btn-operations">
                                        &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="group-unexpected-error-content" class="hide">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-centered">
                                <h3>Unexpected error occurred!</h3>

                                <div class="buttons">
                                    <a href="#" id="group-unexpected-error-link" class="btn-operations">
                                        &nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/zone}}

{{#zone "bottomJs"}}
    {{#if groupCount}}
        {{js "js/listing.js"}}
    {{/if}}
{{/zone}}
