{{#zone "topCss"}}
    {{css "css/analytics.css"}}
{{/zone}}

{{unit "cdmf.unit.ui.title" pageTitle="Analytics"}}
{{unit "cdmf.unit.ui.content.title" pageHeader=title}}
{{unit "cdmf.unit.lib.service-invoker-utility"}}
{{unit "cdmf.unit.lib.handlebars"}}
{{unit "cdmf.unit.lib.rickshaw-graph"}}

{{#zone "breadcrumbs"}}
    <li>
        <a href="{{@app.context}}/">
            <i class="icon fw fw-home"></i>
        </a>
    </li>
    <li>
        <a href="{{@app.context}}/devices">
            Devices
        </a>
    </li>
    <li>
        <a href="{{@app.context}}/device/{{deviceType}}?id={{deviceId}}">
            {{deviceName}}
        </a>
    </li>
    <li>
        <a href="#">
            Analytics
        </a>
    </li>
{{/zone}}

{{#zone "content"}}
    <div class="container container-bg  white-bg">
        <div class=" margin-top-double">
            <div class="row padding-top-double padding-bottom-double margin-bottom-double">
                <div class="col-lg-3  margin-top-double">
                    <h1 class="grey ">{{deviceName}} Analytics</h1>
                </div>
                {{unit "cdmf.unit.analytics.date-range-picker"}}
            </div>
            <hr>
            <div class="clear"></div>
            <div id="div-chart">
                {{unit deviceAnalyticsViewUnitName}}
            </div>
        </div>
    </div>
{{/zone}}
