{{unit "cdmf.unit.ui.title" pageTitle="Role Management"}}

{{unit "cdmf.unit.data-tables-extended"}}

{{#zone "breadcrumbs"}}
    <li>
        <a href="{{@app.context}}/">
            <i class="icon fw fw-home"></i>
        </a>
    </li>
    <li>
        <a href="{{@app.context}}/roles">
            Roles
        </a>
    </li>
{{/zone}}

{{#zone "navbarActions"}}
    <li>
        <a href="{{@app.context}}/roles/add-role" class="cu-btn">
            <span class="icon fw-stack">
                <i class="fw fw-add fw-stack-1x"></i>
                <i class="fw fw-ring fw-stack-2x"></i>
            </span>
            Add Role
        </a>
    </li>
{{/zone}}

{{#zone "content"}}
    {{unit "cdmf.unit.role.listing"}}
{{/zone}}