{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
{{#zone "content"}}
    <span id="permission" data-permission="{{permissions}}"></span>
    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <div id="config-save-form" class="container col-centered wr-content">
                <br>
                <h4> Device Notifications </h4>
                <br>
                <br>
                <div class="wr-advance-operations">
                    <div class="row no-gutter">
                        <div class="wr-hidden-operations-nav col-lg-4">
                            <a id="unReadNotifications" href="javascript:void(0)" onclick="showAdvanceOperation('unread', this)" class="selected">
                                <span class="wr-hidden-operations-icon fw-stack">
                                    <i class="fw fw-mail fw-stack-2x"></i>
                                </span>
                                Unread
                            </a>
                            <a id="allNotifications" href="javascript:void(0)" onclick="showAdvanceOperation('all', this)">
                                <span class="wr-hidden-operations-icon fw-stack">
                                    <i class="fw fw-forum fw-stack-2x"></i>
                                </span>
                                All Notifications
                            </a>
                        </div>

                        <div class="wr-hidden-operations-content col-lg-8" id="ast-container">
                            <div class="panel-body">
                                No unread messages
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /content -->
        </div>
    </div>
{{/zone}}
{{#zone "bottomJs"}}
    <script id="notification-listing" data-current-user="{{@user.username}}"
            data-image-resource="{{@unit.publicUri}}/images/" src="{{@unit.publicUri}}/templates/notification-listing.hbs"
            type="text/x-handlebars-template"></script>
    {{js "js/notification-listing.js"}}
{{/zone}}