<div class="panel-heading">Device Details</div>
<div id="loading-content" class="col-centered">
    <br>
    <br>
    <i class="fw fw-settings fw-spin fw-2x"></i>
    &nbsp;&nbsp;&nbsp;
    Loading Device Details . . .
    <br>
</div>
<div class="panel-body hidden">
    <!-- device summary -->
    {{#if device.viewModel.BatteryLevel}}
        <div class="col-lg-4">
            <div class="wr-stats-board-tile">
                <div class="tile-name">BATTERY</div>
                <div>
                    <div class="tile-icon"><i class="fw fw-battery"></i></div>
                    <div class="tile-stats">{{device.viewModel.BatteryLevel}}%</div>
                </div>
            </div>
        </div>
    {{/if}}
    {{#if device.viewModel.DeviceCapacity}}
        <div class="col-lg-4">
            <div class="wr-stats-board-tile">
                <div class="tile-name">STORAGE</div>
                <div>
                    <div class="tile-icon"><i class="fw fw-hdd"></i></div>
                    <div class="tile-stats">{{device.viewModel.DeviceCapacityPercentage}}%<span
                            class="tile-stats-free">{{device.viewModel.DeviceCapacityUsed}}
                        GB Free</span>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    {{#if device.viewModel.internal_memory.FreeCapacity}}
        <div class="col-lg-4">
            <div class="wr-stats-board-tile">
                <div class="tile-name">LOCAL STORAGE</div>
                <div>
                    <div class="tile-icon"><i class="fw fw-hdd"></i></div>
                    <div class="tile-stats">{{device.viewModel.internal_memory.DeviceCapacityPercentage}}
                        %<span class="tile-stats-free">{{device.viewModel.internal_memory.FreeCapacity}}
                            GB Free</span></div>
                </div>
            </div>
        </div>
    {{/if}}
    {{#if device.viewModel.external_memory.FreeCapacity}}
        <div class="col-lg-4">
            <div class="wr-stats-board-tile">
                <div class="tile-name">EXTERNAL STORAGE</div>
                <div>
                    <div class="tile-icon"><i class="fw fw-usb-drive"></i></div>
                    <div class="tile-stats">{{device.viewModel.external_memory.DeviceCapacityPercentage}}
                        %<span class="tile-stats-free">{{device.viewModel.external_memory.FreeCapacity}}
                            GB Free</span></div>
                </div>
            </div>
        </div>
    {{/if}}
</div>