{{!--
* Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
*
* WSO2 Inc. licenses this file to you under the Apache License,
* Version 2.0 (the "License"); you may not use this file except
* in compliance with the License.
* You may obtain a copy of the License at
*
*  http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied. See the License for the
* specific language governing permissions and limitations
* under the License.
--}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{#defineZone "title"}}WSO2 Template{{/defineZone}}</title>
    {{defineZone "favicon"}}
    {{defineZone "topCss"}}
    {{defineZone "topJs"}}
</head>
<body>
<!-- header -->
{{defineZone "header"}}
<!-- /header -->

<!-- navbars -->
<div class="navbar-wrapper">
    {{defineZone "navbars"}}
</div>
<!-- /navbars -->

<!-- sidepanes -->
{{defineZone "sidePanes"}}
<!-- /sidepanes -->

<!-- page-content-wrapper -->
<div class="page-content-wrapper">
    {{defineZone "contentTitle"}}
    <div class="container-fluid ">
        <div class="body-wrapper">
            {{defineZone "content"}}
        </div>
    </div>
</div>
<!-- /page-content-wrapper -->

<!-- footer -->
<footer class="footer">
    <div class="container-fluid">
        {{defineZone "footer"}}
    </div>
</footer>
<!-- /footer -->

{{defineZone "bottomJs"}}
</body>
</html>