{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
{{unit "cdmf.unit.ui.title" pageTitle="Add Certificate"}}

{{#zone "breadcrumbs"}}
{{css "css/create.css"}}
    
    <li>
        <a href="{{@app.context}}/certificates">
           <img src="/devicemgt/public/cdmf.page.assets/img/default/Icon_Back.png" style="vertical-align: inherit;margin-right: 5px;"/>
                Back to List
        </a>
    </li>
    
{{/zone}}

{{#zone "content"}}
    <div id="loading-content" class="col-centered">
            <i class="fw fw-settings fw-spin fw-2x"></i>
            Loading . . .
            <br>
    </div>
    <div class="submenu detail_sub_headings">
        <ul>
            <li><a href="{{@app.context}}/platform-configuration">Platform </a>
            </li>
            <!-- todo change the permission and get the related permission -->
            <li><a  class="active"  href="{{@app.context}}/certificates"> Certificate </a>
            </li>
        </ul>   
    </div>  
    {{#if isAuthorized}}
        <!-- Steps Division-->
        <div class="stepsDiv">
            <div class="stepNavBar">
                <div class="addDevice">Add Certificate</div><div class="cancel"><a href="{{@app.context}}/certificates">
                    Cancel
                </a></div>
            </div>
            <div class="stepContent">
                <div class="active">
                  
                </div>
            </div>
        </div>
        <!-- content/body -->
        <div class="stepHeading"><span class="adjustment_span">Add Certificate</span></div>  
        <div class="row">
            <div class="col-md-12">
                <!-- content -->
                <div id="certificate-create-form" class="wr-content">
                    <div class="wr-form detail_box">
                        {{!--<p class="page-sub-title">Add Certificate</p>--}}
                        <!-- <p>Please note that * sign represents required fields of data.</p> -->
                       
                        <div class="row">
                            <div class="col-lg-8">
                                <div id="certificate-create-error-msg" class="alert alert-danger hidden" role="alert">
                                    <i class="icon fw fw-error"></i><span></span>
                                </div>
                                <label class="wr-input-label">Certificate *</label>
                                <div id="certificateField" class="form-group wr-input-control add-certificate-div">
                                     <label for="certificate" class="add-certificate-label" >  + Choose File </label>     
                                    <input type="file" id="certificate" class="form-control hidden"/>                                    
                                    <label id="placeholder"> No file chosen </label>                                 
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-8">
                                <button id="add-certificate-btn" class="wr-btn">Add Certificate</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="certificate-created-msg" class="wr-content hidden">
                    <div class="wr-form detail_box">
                        <p class="page-sub-title">Certificate was added successfully.</p>
                        <br>
                        <br>Please click <b>"Add Another Certificate"</b>, if you wish to add another certificate or
                        click
                        <b>"View Certificate List"</b> to complete the process and go back to the certificate list.
                        <hr/>
                        <br>
                        <button class="wr-btn" onclick="window.location.href='{{@app.context}}/certificates'">View Certificate List
                        </button>
                        <a href="{{@app.context}}/certificates/add" class="cu-btn-inner">
                        <span class="fw-stack">
                            <i class="fw fw-circle-outline fw-stack-2x"></i>
                            <i class="fw fw-add fw-stack-1x"></i>
                        </span>
                            Add Another Certificate
                        </a>
                    </div>
                </div>
                <!-- /content -->
            </div>
        </div>
        <!-- /content/body -->
    {{else}}
        <h1 class="page-sub-title">
            Permission Denied
        </h1>
        <br>
        You not authorized to enter Certificate Management Section.
        <br>
    {{/if}}
{{/zone}}

{{#zone "bottomJs"}}
    {{js "/js/certificate-create.js"}}
{{/zone}}