{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
{{#zone "topCss"}}
    <style>
        .thumbnail.icon:before {
            padding-top: 0;
        }
    </style>
{{/zone}}

{{#zone "overview-section"}}
    <div style="background: #11375B; color: #fff; padding: 10px; margin-bottom: 5px">
        Device Overview - {{device.type}}</div>
    {{unit "cdmf.unit.default.device.overview-section" device=device}}
{{/zone}}

{{#zone "device-thumbnail"}}
    <img src="{{@unit.publicUri}}/images/deviceType.png"/>
{{/zone}}


{{#zone "device-opetations"}}
    {{#if features}}
    <div style="background: #11375B; color: #fff; padding: 10px; margin-bottom: 5px">
        Operations
    </div>
    <div class="add-margin-top-4x">
        {{unit "cdmf.unit.default.device.operation-bar" device=device features=features}}
    </div>
    {{/if}}
{{/zone}}

{{#zone "device-view-tabs"}}
    {{#if attributes}}
    <li class="active"><a class="list-group-item" href="#device_statistics" role="tab"
                          data-toggle="tab" aria-controls="device_statistics">Device
                                                                              Statistics</a>
    </li>
    {{/if}}
    {{#if features}}
    <li><a class="list-group-item" href="#event_log" role="tab" data-toggle="tab"
           aria-controls="event_log">Operations Log</a></li>
    {{/if}}
{{/zone}}

{{#zone "device-view-tab-contents"}}
    {{#if attributes}}
    <div class="panel panel-default tab-pane active"
         id="device_statistics" role="tabpanel" aria-labelledby="device_statistics">
        <div class="panel-heading">Device Event</div>
        {{unit "cdmf.unit.default.device.type.realtime.analytics-view" device=device attributes=attributes}}
    </div>
    {{/if}}
    {{#if features}}
    <div class="panel panel-default tab-pane" id="event_log" role="tabpanel"
         aria-labelledby="event_log">
        <div class="panel-heading">Operations Log <span><a href="#"
                                                           id="refresh-operations"><i
                class="fw fw-refresh"></i></a></span></div>
        <div class="panel-body">
            <div id="operations-spinner" class="wr-advance-operations-init hidden">
                <br>

                <i class="fw fw-settings fw-spin fw-2x"></i>

                Loading Operations Log . . .
                <br>
                <br>
            </div>
            <div id="operations-log-container">
                <div class="panel-body">
                    Not available yet
                </div>
                <br class="c-both"/>
            </div>
        </div>
    </div>
    {{/if}}
{{/zone}}