{{#zone "navbarNavMenu-icon"}}
    <span class="icon fw-stack"><i class="fw fw-tiles fw-stack-1x"></i></span>
{{/zone}}

{{~#zone "navMenuItems"}}
    <li>
        <a href="{{@app.context}}"><i class="fw fw-dashboard"></i>Admin Dashboard</a>
    </li>
    <li>
        <a href="{{@app.context}}/devices"><i class="fw fw-mobile"></i>Device Management</a>
    </li>
    <li>
        <a href="{{@app.context}}/users"><i class="fw fw-user"></i>User Management</a>
    </li>
    <li>
        <a href="{{@app.context}}/roles"><i class="fw fw-bookmark"></i>Role Management</a>
    </li>
    <li>
        <a href="{{@app.context}}/policies"><i class="fw fw-policy"></i>Policy Management</a>
    </li>
    <li>
        <a href="{{@app.context}}/platform-configuration"><i class="fw fw-settings"></i>Platform Configurations</a>
    </li>
{{/zone}}