
<tr data-type="selectable" data-deviceid="{{deviceTypeId}}" data-devicetype="{{deviceTypeName}}"
    data-href="{{appContext}}/device/{{deviceTypeName}}/enroll" class="clickable-row" style="width: 15% !important;">
    <td class="remove-padding icon-only content-fill" data-search="{{deviceCategory}}" data-display="{{deviceCategory}}" style="background-color:transparent !important;">
        <div class="thumbnail icon">
                <!--<i class="square-element text fw fw-mobile"></i>-->
            <img id="androidIcon" class="square-element text fw" src="/devicemgt/public/cdmf.page.assets/img/default/Icon_Android.png"/>
            <img id="androidIconDark" class="square-element text fw" src="/devicemgt/public/cdmf.page.assets/img/hover/Icon_Android_Hover.png"/>
            <div class="androidText">{{deviceTypeName}}</div>
        </div>
    </td>
    <td data-search="{{deviceTypeLabel}}" data-display="{{deviceTypeLabel}}">
    </td>
    <td class="text-right content-fill text-left-on-grid-view no-wrap">
        <a href="{{appContext}}/device/{{deviceTypeName}}/enroll"
           data-click-event="remove-form" class="btn col-md-12">
                            <span class="fw-stack">
                                <i class="fw fw-circle-outline fw-stack-2x"></i>
                                <i class="fw fw-check fw-stack-1x"></i>
                            </span>
            <span>Select</span>
        </a>
    </td>
</tr>
